# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/out-tsc
/_site
.sass-cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ruby/Jekyll
Gemfile.lock
.bundle
vendor

# IDE
.vscode/*
.idea

# Temp
/tmp