<div class="listings">
  {% for listing in site.listings %}
  <a class="listing"
     href="{{ listing.url | relative_url }}"
     data-cities="{{ listing.cities | jsonify | escape }}"
     data-tags="{{ listing.tags | jsonify | escape }}"
     data-title="{{ listing.title | downcase }}">
    <div class="listing-content">
      <div class="listing-line-1">
        <span class="listing-name">{{ listing.title }}</span>
      </div>
      <div class="listing-line-2">
        <span class="listing-description">{{ listing.short_description | escape }}</span>
      </div>
      <div class="listing-line-3">
        <span class="listing-location">{{ listing.cities | first }}</span>
        <span class="listing-tags">
          {% for tag in listing.tags %}
            <span class="listing-tag">{{ tag }}</span>
          {% endfor %}
        </span>
      </div>
    </div>
    <div class="listing-distance-pill">
      <span class="distance"></span>
    </div>
  </a>
  {% endfor %}
</div>
